html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
small,
strong,
dl,
dt,
dd,
ol,
ul,
li {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
em,
strong,
i {
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
html {
    box-sizing: border-box;
    overflow: hidden;
}
body {
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial,
        sans-serif;
    background-color: #fff;
}
ul,
ol {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
}
input,
button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}
img {
    vertical-align: top;
    border: 0;
    max-width: 100%;
}
